body {
	background-color: gray;
}

img {
	margin-bottom: 2%;
}

.right-border {
	border-right: 2px solid gray;
}

.background-black {
	background-color: black;
}

.color {
	color: gray;
}

.footer {
	margin-top: 3%;
	background-color: black;
}
.footer-right {
	float: right;
}

.form-horizontal .control-label {
	text-align: left;
}